2021_08_29_OLED_Demo.json
[{"id":"59c06e2b.d1885","type":"tab","label":"OLED","disabled":false,"info":""},{"id":"783bb816.c4f648","type":"inject","z":"59c06e2b.d1885","name":"Hello World","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"size\":2, \"x\":1,\"y\":1,\"wrapping\":true,\"text\":\"hello world!!!\"}","payloadType":"jsonata","x":550,"y":420,"wires":[["8c72f94b.7d6378"]]},{"id":"8c72f94b.7d6378","type":"String","z":"59c06e2b.d1885","name":"","display":"e244007b.ea46e","x":730,"y":420,"wires":[]},{"id":"75d71fdb.30a5","type":"Battery","z":"59c06e2b.d1885","name":"","display":"e244007b.ea46e","x":740,"y":500,"wires":[]},{"id":"2527ea14.e066d6","type":"inject","z":"59c06e2b.d1885","name":"Position","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"x\":100,\"y\":10,\"p\":50}","payloadType":"jsonata","x":530,"y":500,"wires":[["75d71fdb.30a5"]]},{"id":"1fcdb976.a415b7","type":"Line","z":"59c06e2b.d1885","name":"","display":"e244007b.ea46e","x":730,"y":580,"wires":[]},{"id":"9a2cce25.e61a4","type":"inject","z":"59c06e2b.d1885","name":"Path","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"x0\":0,\"y0\":0,\"x1\":128,\"y1\":32,\"color\":1}","payloadType":"jsonata","x":520,"y":580,"wires":[["1fcdb976.a415b7"]]},{"id":"54176a3b.cf1c94","type":"Pixel","z":"59c06e2b.d1885","name":"","display":"e244007b.ea46e","x":730,"y":680,"wires":[]},{"id":"15fd2562.4b176b","type":"inject","z":"59c06e2b.d1885","name":"Pixelmap","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[[1,1,1],[50,1,1],[100,1,1]]","payloadType":"jsonata","x":540,"y":700,"wires":[["54176a3b.cf1c94"]]},{"id":"3bcc4442.d98ebc","type":"Clear","z":"59c06e2b.d1885","name":"","display":"e244007b.ea46e","x":730,"y":360,"wires":[]},{"id":"8058448f.3ce488","type":"inject","z":"59c06e2b.d1885","name":"clear","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":530,"y":360,"wires":[["3bcc4442.d98ebc"]]},{"id":"8ba95b66.e70278","type":"Dimmed","z":"59c06e2b.d1885","name":"","display":"e244007b.ea46e","x":740,"y":280,"wires":[]},{"id":"abdd8687.a4fc48","type":"inject","z":"59c06e2b.d1885","name":"true","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":530,"y":260,"wires":[["8ba95b66.e70278"]]},{"id":"ec10a048.36fef","type":"inject","z":"59c06e2b.d1885","name":"false","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":530,"y":300,"wires":[["8ba95b66.e70278"]]},{"id":"3f3c40b3.d2793","type":"Invertion","z":"59c06e2b.d1885","name":"","display":"e244007b.ea46e","x":740,"y":180,"wires":[]},{"id":"fb3b0cc8.2f49b","type":"inject","z":"59c06e2b.d1885","name":"true","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":530,"y":160,"wires":[["3f3c40b3.d2793"]]},{"id":"eb38c2e0.b84d","type":"inject","z":"59c06e2b.d1885","name":"false","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":530,"y":200,"wires":[["3f3c40b3.d2793"]]},{"id":"2afda983.c2de36","type":"FillRectangle","z":"59c06e2b.d1885","name":"","display":"e244007b.ea46e","x":750,"y":780,"wires":[]},{"id":"f7e96c10.bd104","type":"inject","z":"59c06e2b.d1885","name":"Path","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"x\":1,\"y\":1,\"w\":50,\"h\":20,\"color\":1}","payloadType":"jsonata","x":530,"y":780,"wires":[["2afda983.c2de36"]]},{"id":"46e473be.2e07ec","type":"Scroll","z":"59c06e2b.d1885","name":"","display":"e244007b.ea46e","x":730,"y":880,"wires":[]},{"id":"aa44ff22.6a0a8","type":"inject","z":"59c06e2b.d1885","name":"Path","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"direction\":'left',\"start\":0,\"stop\":15}","payloadType":"jsonata","x":530,"y":880,"wires":[["46e473be.2e07ec"]]},{"id":"6d569d23.3dea44","type":"inject","z":"59c06e2b.d1885","name":"Path","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"direction\":'left',\"start\":0,\"stop\":0}","payloadType":"jsonata","x":530,"y":940,"wires":[["46e473be.2e07ec"]]},{"id":"a349c5ba.b2a298","type":"Turn-on","z":"59c06e2b.d1885","name":"","display":"e244007b.ea46e","x":1120,"y":180,"wires":[]},{"id":"bb799885.db9118","type":"inject","z":"59c06e2b.d1885","name":"true","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":970,"y":180,"wires":[["a349c5ba.b2a298"]]},{"id":"95b35c55.efc9d","type":"inject","z":"59c06e2b.d1885","name":"Pixelmap","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[[1,1,1],[50,1,1],[100,1,1]]","payloadType":"jsonata","x":540,"y":660,"wires":[["54176a3b.cf1c94"]]},{"id":"e244007b.ea46e","type":"oled-config","z":"","name":"0.91 waveshare","width":"128","height":"32","address":"3c"}]