2021_08_28_Votronic_OLED_Demo.json
[{"id":"f6dc6ba7.efedb8","type":"tab","label":"Votronic","disabled":false,"info":""},{"id":"44e91de4.925164","type":"debug","z":"f6dc6ba7.efedb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":860,"wires":[]},{"id":"bf30153f.7ed7c8","type":"inject","z":"f6dc6ba7.efedb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[170,26,160,5,164,6,120,0,0,0,160,21,3,0,0,211]","payloadType":"bin","x":160,"y":360,"wires":[["ff24d79d.08c498"]]},{"id":"8e972eeb.0e20b","type":"serial in","z":"f6dc6ba7.efedb8","name":"Input UART","serial":"cd11b2f9.dae9d","x":370,"y":460,"wires":[["50279043.d87c1","44e91de4.925164"]]},{"id":"ff24d79d.08c498","type":"serial out","z":"f6dc6ba7.efedb8","name":"","serial":"cd11b2f9.dae9d","x":370,"y":360,"wires":[]},{"id":"50279043.d87c1","type":"function","z":"f6dc6ba7.efedb8","name":"Werte extrahieren","func":"var checksum = 0\nvar check = false\nvar i_phase = false\nvar u1_phase = false\nvar u2_phase = false\nvar u3_phase = false\nvar standby = false\nvar abregelung = false\nvar AES = false\n\n//ID\nID = msg.payload[1]\n\n//Spannung Bordbatterie U16\n//u_bord = (msg.payload[3] << 8) + msg.payload[2]\nu_bord = msg.payload.readUInt16LE(2)\nu_bord_mv = u_bord*10\nu_bord_v = u_bord_mv/1000\n\n//Spannung Solar U16\n//u_solar = (msg.payload[5] << 8) + msg.payload[4]\nu_solar = msg.payload.readUInt16LE(4)\nu_solar_mv = u_solar*10\nu_solar_v = u_solar_mv/1000\n\n\n//Strom Solar S16\ni_solar = msg.payload.readInt16LE(6)\ni_solar_ma = i_solar*10\ni_solar_a = i_solar_ma/1000\n\n//Batteriestatus\nif (msg.payload[13] & (1 << 0)){\n        i_phase = true\n}\nif (msg.payload[13] & (1 << 1)){\n        u1_phase = true\n}\nif (msg.payload[13] & (1 << 2)){\n        u2_phase = true\n}\nif (msg.payload[13] & (1 << 3)){\n        u3_phase = true\n}\n\n//Reglerstatus\nif (msg.payload[14] & (1 << 3)){\n        standby = true\n}\nif (msg.payload[14] & (1 << 4)){\n        abregelung = true\n}\nif (msg.payload[14] & (1 << 5)){\n        AES = true\n}\n\n//checksumme berechnen\nfor (var i=1;i<15;i++){\n    checksum = checksum ^ msg.payload[i]\n}\n\n//checksumme prüfen\nif (checksum == msg.payload[15]){\n    check = true\n}\n\nmsg.payload = {\n    ID: ID,\n    u_bord_v: u_bord_v,\n    u_solar_v: u_solar_v,\n    i_solar_a: i_solar_a,\n    i_phase: i_phase,\n    u1_phase: u1_phase,\n    u2_phase: u2_phase,\n    u3_phase: u3_phase,\n    standby: standby,\n    abregelung: abregelung,\n    AES: AES,\n    checksum_calc: checksum,\n    cecksum_rx: msg.payload[15],\n    check: check\n}\n\n//if (check === true){\nreturn msg;\n//}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":460,"wires":[["44e91de4.925164","c22e6f4d.cc43f","92a3221c.2f9a8","902fab81.b56db8","97fc3fd1.6af3d","2a78eaa6.81fcc6","20e0ea49.879246","1378be59.263242","514d1aeb.c8e834","919f03fe.4f293","dc321bf9.2fae78","99b14c40.d1c31"]]},{"id":"c22e6f4d.cc43f","type":"ui_gauge","z":"f6dc6ba7.efedb8","name":"u_bord_v","group":"450188fe.539758","order":1,"width":0,"height":0,"gtype":"gage","title":"Bordbatterie[V]","label":"Volt","format":"{{msg.payload.u_bord_v}}","min":0,"max":"20","colors":["#ff0000","#e6e600","#51ff00"],"seg1":"10","seg2":"11","x":840,"y":320,"wires":[]},{"id":"92a3221c.2f9a8","type":"ui_gauge","z":"f6dc6ba7.efedb8","name":"u_solar_v","group":"450188fe.539758","order":2,"width":0,"height":0,"gtype":"gage","title":"Solarmodul[V]","label":"Volt","format":"{{msg.payload.u_solar_v}}","min":0,"max":"22","colors":["#ff0000","#e6e600","#51ff00"],"seg1":"10","seg2":"15","x":840,"y":360,"wires":[]},{"id":"902fab81.b56db8","type":"ui_gauge","z":"f6dc6ba7.efedb8","name":"i_solar_a","group":"79bc79e3.de5378","order":1,"width":0,"height":0,"gtype":"compass","title":"Ladestrom[A]","label":"Ampere","format":"{{msg.payload.i_solar_a}}","min":0,"max":"5","colors":["#ff0000","#e6e600","#51ff00"],"seg1":"0,","seg2":"15","x":840,"y":400,"wires":[]},{"id":"ef52d3db.cd637","type":"ui_led","z":"f6dc6ba7.efedb8","order":1,"group":"2937c7d.5a92c38","width":0,"height":0,"label":"I Phase","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"i_Phase_LED","x":1020,"y":480,"wires":[]},{"id":"97fc3fd1.6af3d","type":"change","z":"f6dc6ba7.efedb8","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.i_phase","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":480,"wires":[["ef52d3db.cd637"]]},{"id":"2a78eaa6.81fcc6","type":"change","z":"f6dc6ba7.efedb8","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.u1_phase","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":520,"wires":[["2ecc3b27.6294f4"]]},{"id":"2ecc3b27.6294f4","type":"ui_led","z":"f6dc6ba7.efedb8","order":2,"group":"2937c7d.5a92c38","width":0,"height":0,"label":"U1 Phase","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"u1_Phase_LED","x":1020,"y":520,"wires":[]},{"id":"20e0ea49.879246","type":"change","z":"f6dc6ba7.efedb8","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.u2_phase","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":560,"wires":[["1f849e24.310c02"]]},{"id":"1f849e24.310c02","type":"ui_led","z":"f6dc6ba7.efedb8","order":3,"group":"2937c7d.5a92c38","width":0,"height":0,"label":"U2 Phase","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"u2_Phase_LED","x":1020,"y":560,"wires":[]},{"id":"1378be59.263242","type":"change","z":"f6dc6ba7.efedb8","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.u3_phase","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":600,"wires":[["37b8ac77.515c34"]]},{"id":"37b8ac77.515c34","type":"ui_led","z":"f6dc6ba7.efedb8","order":4,"group":"2937c7d.5a92c38","width":0,"height":0,"label":"U3 Phase","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"u3_Phase_LED","x":1020,"y":600,"wires":[]},{"id":"514d1aeb.c8e834","type":"change","z":"f6dc6ba7.efedb8","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.standby","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":680,"wires":[["3e224ab2.717c36"]]},{"id":"3e224ab2.717c36","type":"ui_led","z":"f6dc6ba7.efedb8","order":1,"group":"d144c155.06adf","width":0,"height":0,"label":"Aktiv/Standby","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"standby","x":1000,"y":680,"wires":[]},{"id":"919f03fe.4f293","type":"change","z":"f6dc6ba7.efedb8","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.abregelung","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":720,"wires":[["b128f83d.7aa418"]]},{"id":"b128f83d.7aa418","type":"ui_led","z":"f6dc6ba7.efedb8","order":2,"group":"d144c155.06adf","width":0,"height":0,"label":"Abregelung aktiviert","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Abregelung","x":1010,"y":720,"wires":[]},{"id":"dc321bf9.2fae78","type":"change","z":"f6dc6ba7.efedb8","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.AES","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":760,"wires":[["c7925f55.4981f"]]},{"id":"c7925f55.4981f","type":"ui_led","z":"f6dc6ba7.efedb8","order":3,"group":"d144c155.06adf","width":0,"height":0,"label":"AES aktiv","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"AES","x":990,"y":760,"wires":[]},{"id":"99b14c40.d1c31","type":"function","z":"f6dc6ba7.efedb8","name":"Display-String","func":"msg.payload = { \"size\":2, \"x\":1,\"y\":1,\"wrapping\":false,\"text\":\"U: \"+msg.payload.u_bord_v+\"V\"+\"\\n\"+\"I: \"+msg.payload.i_solar_a+\"A\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":440,"wires":[["b300bb0f.da0f48","a9154ee0.857a6"]]},{"id":"b300bb0f.da0f48","type":"debug","z":"f6dc6ba7.efedb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":500,"wires":[]},{"id":"a9154ee0.857a6","type":"String","z":"f6dc6ba7.efedb8","name":"","display":"e244007b.ea46e","x":1230,"y":440,"wires":[]},{"id":"18b5e99a.975f36","type":"function","z":"f6dc6ba7.efedb8","name":"Teststring","func":"msg.payload = { \"size\":2, \"x\":1,\"y\":1,\"wrapping\":false,\"text\":\"U: \"+\"13.2V\"+\"\\n\"+\"I: \"+\"1.3A\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":260,"wires":[["a9154ee0.857a6"]]},{"id":"b38acc6a.8a579","type":"inject","z":"f6dc6ba7.efedb8","name":"Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"2.1","topic":"","payload":"","payloadType":"date","x":850,"y":260,"wires":[["18b5e99a.975f36"]]},{"id":"cd11b2f9.dae9d","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"1000","databits":"8","parity":"none","stopbits":"1","waitfor":"0xAA","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"16","bin":"bin","out":"count","addchar":"","responsetimeout":"10000"},{"id":"450188fe.539758","type":"ui_group","z":"","name":"Spannungen","tab":"64461b6f.bf5914","order":2,"disp":true,"width":6,"collapse":false},{"id":"79bc79e3.de5378","type":"ui_group","z":"","name":"Ladestrom","tab":"64461b6f.bf5914","order":1,"disp":true,"width":"6","collapse":false},{"id":"2937c7d.5a92c38","type":"ui_group","z":"","name":"Ladephase","tab":"64461b6f.bf5914","order":3,"disp":true,"width":5,"collapse":false},{"id":"d144c155.06adf","type":"ui_group","z":"","name":"Reglerstatus","tab":"64461b6f.bf5914","order":4,"disp":true,"width":5,"collapse":false},{"id":"e244007b.ea46e","type":"oled-config","z":"","name":"0.91 waveshare","width":"128","height":"32","address":"3c"},{"id":"64461b6f.bf5914","type":"ui_tab","z":"","name":"Votronic Solarregler","icon":"dashboard","disabled":false,"hidden":false}]