2021_06_03_switching_LEDs_Node-RED.json
[{"id":"44601208.3c5bec","type":"tab","label":"Gartenbeleuchtung","disabled":false,"info":""},{"id":"b2f22ea9.acd6d","type":"ui_switch","z":"44601208.3c5bec","name":"","label":"Lichterkette","tooltip":"Lichterkette schalten","group":"168d96b8.353409","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"lightbulb_outline","oncolor":"#FFCC66","offvalue":"false","offvalueType":"bool","officon":"lightbulb_outline","offcolor":"#FFFFFF","x":650,"y":280,"wires":[["225bd5ff.8bf67a"]]},{"id":"d2fad3f1.ccb58","type":"ui_switch","z":"44601208.3c5bec","name":"","label":"Bodenstrahler","tooltip":"Lichterkette schalten","group":"168d96b8.353409","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"highlight","oncolor":"#FFCC66","offvalue":"false","offvalueType":"bool","officon":"highlight","offcolor":"#FFFFFF","x":660,"y":400,"wires":[["c495b866.6db128"]]},{"id":"b7808078.94707","type":"timerswitch","z":"44601208.3c5bec","name":"Zeitschaltuhr","ontopic":"","offtopic":"","onpayload":"","offpayload":"","disabled":false,"schedules":[{"on_h":"20","on_m":"30","on_s":"00","off_h":"23","off_m":"15","off_s":"00","valid":true}],"x":170,"y":340,"wires":[["c338f233.b8a33"]]},{"id":"225bd5ff.8bf67a","type":"rpi-gpio out","z":"44601208.3c5bec","name":"Lichterkette an/aus","pin":"37","set":true,"level":"0","freq":"","out":"out","x":910,"y":280,"wires":[]},{"id":"c495b866.6db128","type":"rpi-gpio out","z":"44601208.3c5bec","name":"Bodenstrahler an/aus","pin":"35","set":true,"level":"0","freq":"","out":"out","x":920,"y":400,"wires":[]},{"id":"c338f233.b8a33","type":"change","z":"44601208.3c5bec","name":"boolean","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload = \"on\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["b2f22ea9.acd6d","d2fad3f1.ccb58"]]},{"id":"168d96b8.353409","type":"ui_group","name":"Garten","tab":"3acd68bc.0083e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"3acd68bc.0083e8","type":"ui_tab","name":"Manueller Eingriff","icon":"touch_app","order":2,"disabled":false,"hidden":false}]