2022_06_29_Tasmota_Solar_Sir_Real_Node-RED.json
[{"id":"e9200d533281763a","type":"tab","label":"Tasmota","disabled":false,"info":"","env":[]},{"id":"7046aec0429c4e89","type":"ui_gauge","z":"e9200d533281763a","name":"","group":"fa8e32c359c0df4c","order":2,"width":0,"height":0,"gtype":"gage","title":"Power","label":"Watt","format":"{{msg.payload.ENERGY.Power}}","min":0,"max":"800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":480,"wires":[]},{"id":"4db54de7b5ede2b6","type":"Tasmota Sensor","z":"e9200d533281763a","broker":"7b8dff5d8fd06b09","device":"tasmota","name":"","outputs":1,"uidisabler":false,"fullTopic":"","cmndPrefix":"","statPrefix":"","telePrefix":"","qos":1,"retain":false,"rules":[],"outputTopic":"","x":460,"y":380,"wires":[["7046aec0429c4e89","67cc2a8d0962b36e","79869c15952b01e2","7783d8eb8f6f6b87","b7a393aedab5c179","5cb2da2262cd49d6","1e79d81220497f72"]]},{"id":"67cc2a8d0962b36e","type":"ui_gauge","z":"e9200d533281763a","name":"","group":"fa8e32c359c0df4c","order":4,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"Volt","format":"{{msg.payload.ENERGY.Voltage}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":740,"y":540,"wires":[]},{"id":"79869c15952b01e2","type":"ui_gauge","z":"e9200d533281763a","name":"","group":"fa8e32c359c0df4c","order":6,"width":0,"height":0,"gtype":"gage","title":"Current","label":"Ampere","format":"{{msg.payload.ENERGY.Current}}","min":0,"max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":740,"y":600,"wires":[]},{"id":"150964ec7c8b7af4","type":"ui_switch","z":"e9200d533281763a","name":"","label":"On/Off","tooltip":"","group":"fa8e32c359c0df4c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":490,"y":100,"wires":[["ade02f720decc166"]]},{"id":"ade02f720decc166","type":"Tasmota Switch","z":"e9200d533281763a","broker":"7b8dff5d8fd06b09","device":"tasmota","name":"","outputs":1,"uidisabler":false,"fullTopic":"","cmndPrefix":"","statPrefix":"","telePrefix":"","qos":1,"retain":false,"x":480,"y":200,"wires":[["150964ec7c8b7af4"]]},{"id":"aa36d580766fa506","type":"ui_chart","z":"e9200d533281763a","name":"","group":"44dea1306c51f4e5","order":1,"width":0,"height":0,"label":"Power Creation [Day]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1000,"y":380,"wires":[[]]},{"id":"7783d8eb8f6f6b87","type":"change","z":"e9200d533281763a","name":"Power","rules":[{"t":"move","p":"payload.ENERGY.Power","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":380,"wires":[["aa36d580766fa506"]]},{"id":"fe50b98e06ee4877","type":"ui_gauge","z":"e9200d533281763a","name":"","group":"f190112b5bb33c31","order":1,"width":0,"height":0,"gtype":"wave","title":"Energy Today","label":"kwH","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1000,"y":180,"wires":[]},{"id":"b7a393aedab5c179","type":"change","z":"e9200d533281763a","name":"Energy Today","rules":[{"t":"move","p":"payload.ENERGY.Today","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":160,"wires":[["fe50b98e06ee4877","c026a1440e22bba3"]]},{"id":"5cb2da2262cd49d6","type":"change","z":"e9200d533281763a","name":"Energy Yesterday","rules":[{"t":"move","p":"payload.ENERGY.Yesterday","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":220,"wires":[["e179639131474ab0"]]},{"id":"e179639131474ab0","type":"ui_gauge","z":"e9200d533281763a","name":"","group":"f190112b5bb33c31","order":3,"width":0,"height":0,"gtype":"wave","title":"Energy Yesterday","label":"kwH","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1010,"y":220,"wires":[]},{"id":"1e79d81220497f72","type":"change","z":"e9200d533281763a","name":"Energy Total","rules":[{"t":"move","p":"payload.ENERGY.Total","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":280,"wires":[["e2e6887287dd9853"]]},{"id":"e2e6887287dd9853","type":"ui_gauge","z":"e9200d533281763a","name":"","group":"f190112b5bb33c31","order":5,"width":0,"height":0,"gtype":"wave","title":"Energy Total","label":"kwH","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":970,"y":280,"wires":[]},{"id":"c026a1440e22bba3","type":"bar-chart-data","z":"e9200d533281763a","name":"Energy Creation","x_interval":"days","x_size":"365","unit":"kWh","precision":2,"is_meter_reading":"False","agg_by":"max","x":1000,"y":140,"wires":[["eacb6675dc18b9e2"]]},{"id":"eacb6675dc18b9e2","type":"ui_chart","z":"e9200d533281763a","name":"","group":"44dea1306c51f4e5","order":2,"width":0,"height":0,"label":"Energy Creation [Day]","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1220,"y":140,"wires":[[]]},{"id":"12ee98fcaf3ba0d3","type":"ui_spacer","z":"e9200d533281763a","name":"spacer","group":"fa8e32c359c0df4c","order":3,"width":6,"height":1},{"id":"5cf927ed6c19d90d","type":"ui_spacer","z":"e9200d533281763a","name":"spacer","group":"fa8e32c359c0df4c","order":5,"width":6,"height":1},{"id":"a525b3fa9f4e0927","type":"ui_spacer","z":"e9200d533281763a","name":"spacer","group":"fa8e32c359c0df4c","order":7,"width":6,"height":1},{"id":"30a24e84014f6584","type":"ui_spacer","z":"e9200d533281763a","name":"spacer","group":"f190112b5bb33c31","order":2,"width":5,"height":1},{"id":"9f4ad70e8f2e4ab4","type":"ui_spacer","z":"e9200d533281763a","name":"spacer","group":"f190112b5bb33c31","order":4,"width":5,"height":1},{"id":"fa8e32c359c0df4c","type":"ui_group","name":"Real Time","tab":"b17ebf0b79d679d6","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7b8dff5d8fd06b09","type":"tasmota-mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true},{"id":"44dea1306c51f4e5","type":"ui_group","name":"Charts","tab":"b17ebf0b79d679d6","order":2,"disp":false,"width":8,"collapse":false,"className":""},{"id":"f190112b5bb33c31","type":"ui_group","name":"Energy Production","tab":"b17ebf0b79d679d6","order":3,"disp":true,"width":5,"collapse":false,"className":""},{"id":"b17ebf0b79d679d6","type":"ui_tab","name":"Solar Power","icon":"wi-darksky-clear-day","disabled":false,"hidden":false}]