2023_02_28_dashboard_lueftung.json
[{"id":"92396fe8.82f15","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"a4a2b9f.5a66c48","type":"Bme280","z":"92396fe8.82f15","name":"BME280 innen","bus":"1","address":"0x77","topic":"bme280_innen","extra":true,"x":400,"y":380,"wires":[["cdf56bc9.818af8","7c82b9b.3dcab48"]]},{"id":"74e5d85c.de62c8","type":"inject","z":"92396fe8.82f15","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":460,"wires":[["a4a2b9f.5a66c48","b68c6990.90bdc8"]]},{"id":"b68c6990.90bdc8","type":"Bme280","z":"92396fe8.82f15","name":"BME280 aussen","bus":"1","address":"0x76","topic":"bme280_aussen","extra":false,"x":400,"y":540,"wires":[["cdf56bc9.818af8"]]},{"id":"3fec69fb.cb85e6","type":"ui_gauge","z":"92396fe8.82f15","name":"Luftdruck innen","group":"6e142a26.2c8ca4","order":5,"width":3,"height":4,"gtype":"compass","title":"Luftdruck","label":"hPa","format":"{{value}}","min":"800","max":"1200","colors":["#c0c0c0","#c0c0c0","#c0c0c0"],"seg1":"","seg2":"","x":1540,"y":300,"wires":[]},{"id":"f54ea0f8.6879b","type":"ui_gauge","z":"92396fe8.82f15","name":"Luftfeuchtigkeit innen","group":"6e142a26.2c8ca4","order":3,"width":3,"height":4,"gtype":"wave","title":"Luftfeuchtigkeit","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#2d8a2b","#cfb816","#ca3838"],"seg1":"50","seg2":"70","x":1560,"y":220,"wires":[]},{"id":"99a43ea6.73815","type":"ui_gauge","z":"92396fe8.82f15","name":"Temperatur innen","group":"6e142a26.2c8ca4","order":1,"width":3,"height":4,"gtype":"compass","title":"Temperatur","label":"°C","format":"{{value}}","min":"-20","max":"60","colors":["#c0c0c0","#c0c0c0","#c0c0c0"],"seg1":"","seg2":"","x":1550,"y":380,"wires":[]},{"id":"5f4b5a67.e49974","type":"ui_gauge","z":"92396fe8.82f15","name":"Luftdruck aussen","group":"286f4ba9.5c7184","order":5,"width":3,"height":4,"gtype":"compass","title":"Luftdruck","label":"hPa","format":"{{value}}","min":"800","max":"1200","colors":["#c0c0c0","#c0c0c0","#c0c0c0"],"seg1":"","seg2":"","x":1550,"y":580,"wires":[]},{"id":"c2542409.b3f328","type":"ui_gauge","z":"92396fe8.82f15","name":"Luftfeuchtigkeit aussen","group":"286f4ba9.5c7184","order":3,"width":3,"height":4,"gtype":"wave","title":"Luftfeuchtigkeit","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#2d8a2b","#cfb816","#ca3838"],"seg1":"50","seg2":"70","x":1570,"y":660,"wires":[]},{"id":"732f91dc.ee128","type":"ui_gauge","z":"92396fe8.82f15","name":"Temperatur aussen","group":"286f4ba9.5c7184","order":1,"width":3,"height":4,"gtype":"compass","title":"Temperatur","label":"°C","format":"{{value}}","min":"-20","max":"60","colors":["#c0c0c0","#c0c0c0","#c0c0c0"],"seg1":"","seg2":"","x":1550,"y":500,"wires":[]},{"id":"c17b80e0.3f5fa","type":"ui_chart","z":"92396fe8.82f15","name":"Temperatur_Chart innen","group":"f6a46561.c7ab48","order":1,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1570,"y":420,"wires":[[]]},{"id":"208d3d26.925cc2","type":"ui_chart","z":"92396fe8.82f15","name":"Luftdruck_Chart innen","group":"f6a46561.c7ab48","order":5,"width":0,"height":0,"label":"Luftdruck","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1560,"y":340,"wires":[[]]},{"id":"3deb3fb8.fdf9d","type":"ui_chart","z":"92396fe8.82f15","name":"Luftfeuchtigkeit_Chart innen","group":"f6a46561.c7ab48","order":3,"width":0,"height":0,"label":"Luftfeuchtigkeit","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1580,"y":260,"wires":[[]]},{"id":"72958e47.7bbe1","type":"ui_chart","z":"92396fe8.82f15","name":"Luftdruck_Chart aussen","group":"bfa27ec3.12dc2","order":5,"width":0,"height":0,"label":"Luftdruck","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1570,"y":620,"wires":[[]]},{"id":"9e1a0efb.47c75","type":"ui_chart","z":"92396fe8.82f15","name":"Luftfeuchtigkeit_Chart aussen","group":"bfa27ec3.12dc2","order":3,"width":0,"height":0,"label":"Luftfeuchtigkeit","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1590,"y":700,"wires":[[]]},{"id":"521cd97d.d44268","type":"ui_chart","z":"92396fe8.82f15","name":"Temperatur_Chart aussen","group":"bfa27ec3.12dc2","order":1,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1570,"y":540,"wires":[[]]},{"id":"198e51ab.f8321e","type":"function","z":"92396fe8.82f15","name":"Daten aufbereiten, berechnen und splitten","func":"msg.payload.bme280_innen.temperature_C = Math.round(msg.payload.bme280_innen.temperature_C*100) / 100;\nmsg.payload.bme280_aussen.temperature_C = Math.round(msg.payload.bme280_aussen.temperature_C*100) / 100;\n\nmsg.payload.bme280_innen.humidity = Math.round(msg.payload.bme280_innen.humidity*10) / 10;\nmsg.payload.bme280_aussen.humidity = Math.round(msg.payload.bme280_aussen.humidity*10) / 10;\n\nmsg.payload.bme280_innen.pressure_hPa = Math.round(msg.payload.bme280_innen.pressure_hPa*10) / 10;\nmsg.payload.bme280_aussen.pressure_hPa = Math.round(msg.payload.bme280_aussen.pressure_hPa*10) / 10;\n\nmsg.payload.theory_humidity = Math.round((msg.payload.bme280_aussen.humidity-(3*(msg.payload.bme280_innen.temperature_C-msg.payload.bme280_aussen.temperature_C)))*10)/10;\nreturn [\n        {payload: msg.payload.bme280_innen.humidity},\n        {payload: msg.payload.bme280_innen.pressure_hPa},\n        {payload: msg.payload.bme280_innen.temperature_C},\n        {payload: msg.payload.theory_humidity},\n        {payload: msg.payload.bme280_aussen.temperature_C},\n        {payload: msg.payload.bme280_aussen.pressure_hPa},\n        {payload: msg.payload.bme280_aussen.humidity},\n        msg\n        ];","outputs":8,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":460,"wires":[["f54ea0f8.6879b","3deb3fb8.fdf9d"],["3fec69fb.cb85e6","208d3d26.925cc2"],["99a43ea6.73815","c17b80e0.3f5fa"],["30dceef7.6baae2"],["732f91dc.ee128","521cd97d.d44268"],["5f4b5a67.e49974","72958e47.7bbe1"],["c2542409.b3f328","9e1a0efb.47c75"],["3f5f2335.68736c"]]},{"id":"30dceef7.6baae2","type":"ui_gauge","z":"92396fe8.82f15","name":"Theoretische Luftfeuchtigkeit","group":"95fe6bba.5aaaf8","order":1,"width":3,"height":4,"gtype":"wave","title":"Theoretische Luftfeuchtigkeit","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#2d8a2b","#cfb816","#ca3838"],"seg1":"50","seg2":"70","className":"","x":1580,"y":460,"wires":[]},{"id":"cdf56bc9.818af8","type":"join","z":"92396fe8.82f15","name":"Sensoren","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":580,"y":460,"wires":[["68f9f32c.37176c","37f677f9051d9ad2"]]},{"id":"68f9f32c.37176c","type":"change","z":"92396fe8.82f15","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bme280_both","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":500,"wires":[["198e51ab.f8321e"]]},{"id":"3f5f2335.68736c","type":"link out","z":"92396fe8.82f15","name":"Dashboard-Out","links":["f309ea82.bc8108","d1c94d25.7e0ed"],"x":1475,"y":760,"wires":[]},{"id":"7c82b9b.3dcab48","type":"debug","z":"92396fe8.82f15","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":360,"wires":[]},{"id":"37f677f9051d9ad2","type":"mqtt out","z":"92396fe8.82f15","name":"","topic":"BME280","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c1b936bfde751904","x":740,"y":420,"wires":[]},{"id":"6e142a26.2c8ca4","type":"ui_group","name":"Innen aktuell","tab":"50867af6.646e84","order":1,"disp":true,"width":"3","collapse":false},{"id":"286f4ba9.5c7184","type":"ui_group","name":"Aussen aktuell","tab":"50867af6.646e84","order":3,"disp":true,"width":"3","collapse":false},{"id":"f6a46561.c7ab48","type":"ui_group","name":"Innen Chart","tab":"50867af6.646e84","order":2,"disp":true,"width":"6","collapse":false},{"id":"bfa27ec3.12dc2","type":"ui_group","name":"Aussen Chart","tab":"50867af6.646e84","order":4,"disp":true,"width":"6","collapse":false},{"id":"95fe6bba.5aaaf8","type":"ui_group","name":"Theorie","tab":"50867af6.646e84","order":5,"disp":true,"width":"6","collapse":false},{"id":"c1b936bfde751904","type":"mqtt-broker","name":"PI4B","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"50867af6.646e84","type":"ui_tab","name":"Dashboard","icon":"multiline_chart","order":1,"disabled":false,"hidden":false}]