2023_02_28_lueften_lueftung.json
[
    {
        "id": "4476c89e.8b6028",
        "type": "tab",
        "label": "Lüften",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fba69965.4d1f58",
        "type": "function",
        "z": "4476c89e.8b6028",
        "name": "Lüften?",
        "func": "flow.set('luft_innen',msg.payload.bme280_innen.humidity);\nflow.set('luft_aussen',msg.payload.bme280_aussen.humidity);\n\ntemp_aussen = msg.payload.bme280_aussen.temperature_C\ntemp_innen = msg.payload.bme280_innen.temperature_C\n\n\nvar potential = msg.payload.bme280_innen.humidity-msg.payload.theory_humidity;\nif (potential > 20)\n{\n    msg.payload.lueften = 1;\n}\nelse\n{\n    msg.payload.lueften = 0;\n}\n\n//temperature-check\nif ((temp_aussen<-8) || (temp_innen<8) || (temp_aussen>18)) {\n    msg.payload.lueften = 0;\n}\n\nmsg.topic = \"lueften\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 520,
        "wires": [
            [
                "e2f5f305.556af"
            ]
        ]
    },
    {
        "id": "e2f5f305.556af",
        "type": "switch",
        "z": "4476c89e.8b6028",
        "name": "Lüfter-Switch",
        "property": "payload.lueften",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "6598fd2b.c584e4",
                "55d47adf.3c2f04"
            ],
            [
                "6598fd2b.c584e4"
            ]
        ]
    },
    {
        "id": "39d97641.da47ea",
        "type": "rpi-gpio out",
        "z": "4476c89e.8b6028",
        "name": "Lüfter an/aus",
        "pin": "15",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1170,
        "y": 500,
        "wires": []
    },
    {
        "id": "349991e0.36586e",
        "type": "rpi-gpio out",
        "z": "4476c89e.8b6028",
        "name": "Fenster auf/zu",
        "pin": "14",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1180,
        "y": 380,
        "wires": []
    },
    {
        "id": "35b0b672.aafdca",
        "type": "trigger",
        "z": "4476c89e.8b6028",
        "name": "15min Trigger",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "20",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 880,
        "y": 440,
        "wires": [
            [
                "349991e0.36586e",
                "39d97641.da47ea",
                "33f69266.8b740e"
            ]
        ]
    },
    {
        "id": "33f69266.8b740e",
        "type": "switch",
        "z": "4476c89e.8b6028",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 440,
        "wires": [
            [
                "1d1c2bf8.e69c44",
                "db0a50bf.b2c1b"
            ],
            [
                "166b395a.0acbd7",
                "77821e04.ef883"
            ]
        ]
    },
    {
        "id": "c3fb998b.b781c8",
        "type": "ui_text",
        "z": "4476c89e.8b6028",
        "group": "95fe6bba.5aaaf8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Empfehlung",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 970,
        "y": 600,
        "wires": []
    },
    {
        "id": "6598fd2b.c584e4",
        "type": "function",
        "z": "4476c89e.8b6028",
        "name": "Empfehlung",
        "func": "if (msg.payload.lueften == 0)\n{\n    msg.payload = \"Es sollte nicht gelüftet werden!\"\n}\nif (msg.payload.lueften == 1)\n{\n    msg.payload = \"Es sollte gelüftet werden!\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 600,
        "wires": [
            [
                "c3fb998b.b781c8"
            ]
        ]
    },
    {
        "id": "84857a46.481618",
        "type": "ui_text",
        "z": "4476c89e.8b6028",
        "group": "95fe6bba.5aaaf8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Letzte Lüftung gestartet:",
        "format": "{{msg.mydate}} {{msg.mytime}}",
        "layout": "row-spread",
        "x": 1650,
        "y": 360,
        "wires": []
    },
    {
        "id": "a7e7d47d.55aa38",
        "type": "ui_text",
        "z": "4476c89e.8b6028",
        "group": "95fe6bba.5aaaf8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Letzte Lüftung gestoppt:",
        "format": "{{msg.mydate}} {{msg.mytime}}",
        "layout": "row-spread",
        "x": 1630,
        "y": 520,
        "wires": []
    },
    {
        "id": "5505b9c9.bd1298",
        "type": "ui_text",
        "z": "4476c89e.8b6028",
        "group": "95fe6bba.5aaaf8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "x": 1630,
        "y": 460,
        "wires": []
    },
    {
        "id": "d1c94d25.7e0ed",
        "type": "link in",
        "z": "4476c89e.8b6028",
        "name": "Lüften-In",
        "links": [
            "3f5f2335.68736c"
        ],
        "x": 175,
        "y": 520,
        "wires": [
            [
                "fba69965.4d1f58"
            ]
        ]
    },
    {
        "id": "db0a50bf.b2c1b",
        "type": "function",
        "z": "4476c89e.8b6028",
        "name": "count and mail",
        "func": "var lueften_count = global.get('lueften_count') || 0;\nlueften_count = lueften_count + 1;\nglobal.set('lueften_count',lueften_count);\n\nvar luft_innen = flow.get('luft_innen') || 0;\nvar luft_aussen = flow.get('luft_aussen') || 0;\nmsg.payload = `Lüften gestartet bei Luftfeuchtigkeit aussen ${luft_aussen}% und innen ${luft_innen}%`;\nmsg.topic = `Keller-Lüften gestartet (${lueften_count}tes Mal)`;\nmsg.from = `absender@mail.outlook.com`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 420,
        "wires": [
            [
                "2065db24.ef8454",
                "5505b9c9.bd1298"
            ]
        ]
    },
    {
        "id": "dd2b6baf.f3bb58",
        "type": "inject",
        "z": "4476c89e.8b6028",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 02 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "e7b60dc3.46b5d"
            ]
        ]
    },
    {
        "id": "e7b60dc3.46b5d",
        "type": "function",
        "z": "4476c89e.8b6028",
        "name": "count_reset",
        "func": "global.set('lueften_count',0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "55d47adf.3c2f04",
        "type": "function",
        "z": "4476c89e.8b6028",
        "name": "decide",
        "func": "var lueften_count = global.get('lueften_count') || 0;\nvar global_stop = global.get('global_stop') || false;\n\nif (lueften_count < 1 && global_stop === false)\n{\n    return msg;\n}\nelse\n{\n    return null;    \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 440,
        "wires": [
            [
                "35b0b672.aafdca"
            ]
        ]
    },
    {
        "id": "77821e04.ef883",
        "type": "function",
        "z": "4476c89e.8b6028",
        "name": "stop-status",
        "func": "var luft_innen = flow.get('luft_innen') || 0;\nvar luft_aussen = flow.get('luft_aussen') || 0;\nmsg.payload = `Lüften gestoppt bei Luftfeuchtigkeit aussen ${luft_aussen}% und innen ${luft_innen}%`;\nmsg.topic = \"Keller-Lüften gestoppt\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 460,
        "wires": [
            [
                "5505b9c9.bd1298",
                "2065db24.ef8454"
            ]
        ]
    },
    {
        "id": "2065db24.ef8454",
        "type": "e-mail",
        "z": "4476c89e.8b6028",
        "server": "smtp.outlook.com",
        "port": "587",
        "secure": false,
        "tls": true,
        "name": "xyz@outlook.com",
        "dname": "MAIL",
        "x": 1630,
        "y": 420,
        "wires": []
    },
    {
        "id": "1d1c2bf8.e69c44",
        "type": "simpletime",
        "z": "4476c89e.8b6028",
        "name": "",
        "x": 1410,
        "y": 360,
        "wires": [
            [
                "84857a46.481618"
            ]
        ]
    },
    {
        "id": "166b395a.0acbd7",
        "type": "simpletime",
        "z": "4476c89e.8b6028",
        "name": "",
        "x": 1410,
        "y": 520,
        "wires": [
            [
                "a7e7d47d.55aa38"
            ]
        ]
    },
    {
        "id": "95fe6bba.5aaaf8",
        "type": "ui_group",
        "name": "Theorie",
        "tab": "50867af6.646e84",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "50867af6.646e84",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "multiline_chart",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]