2023_02_28_fensterschalter_lueftung.json
[{"id":"f4367598.f63638","type":"tab","label":"Fensterschalter","disabled":false,"info":""},{"id":"df1aeced.83922","type":"rpi-gpio out","z":"f4367598.f63638","name":"Fenster auf/zu","pin":"14","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":920,"y":160,"wires":[]},{"id":"339c37ad.63e608","type":"rpi-gpio out","z":"f4367598.f63638","name":"L端fter an/aus","pin":"15","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":910,"y":260,"wires":[]},{"id":"fe83fc7.cd3d5","type":"ui_switch","z":"f4367598.f63638","name":"Fensterschalter","label":"Fenster auf/zu","tooltip":"","group":"93668608.52af28","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":140,"y":161,"wires":[["1af82a44.295b36"]]},{"id":"698116ac.8080d8","type":"ui_switch","z":"f4367598.f63638","name":"L端fterschalter","label":"L端fter an/aus","tooltip":"","group":"93668608.52af28","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":261,"wires":[["339c37ad.63e608"]]},{"id":"4e16ba51.b12964","type":"ui_button","z":"f4367598.f63638","name":"","group":"93668608.52af28","order":3,"width":0,"height":0,"passthru":false,"label":"15min Keller l端ften","tooltip":"","color":"","bgcolor":"","icon":"fa-history","payload":"1","payloadType":"str","topic":"","x":150,"y":360,"wires":[["e04f6321.db926"]]},{"id":"e04f6321.db926","type":"trigger","z":"f4367598.f63638","name":"15min","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"15","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":350,"y":360,"wires":[["339c37ad.63e608","1af82a44.295b36"]]},{"id":"1af82a44.295b36","type":"function","z":"f4367598.f63638","name":"global stop","func":"global.set('global_stop',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":160,"wires":[["df1aeced.83922"]]},{"id":"93668608.52af28","type":"ui_group","name":"Manuelles Schalten","tab":"3acd68bc.0083e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3acd68bc.0083e8","type":"ui_tab","name":"Manueller Eingriff","icon":"touch_app","order":2,"disabled":false,"hidden":false}]