2025_10_04_shelly_engine_temperature_signalk_flow.json
[{"id":"403c1a8f189a5060","type":"tab","label":"Shelly","disabled":false,"info":"","env":[]},{"id":"743162f8b8084a59","type":"shelly-gen2","z":"403c1a8f189a5060","hostname":"10.10.10.155","description":"shelly1","mode":"none","verbose":false,"server":"","outputmode":"event","uploadretryinterval":5000,"pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"S4SW-001X16EU","devicetypemustmatchexactly":true,"captureblutooth":false,"outputs":1,"x":680,"y":220,"wires":[["2c9579c063cce554"]]},{"id":"6d3f281acddae3dc","type":"signalk-send-pathvalue","z":"403c1a8f189a5060","name":"signal K []","path":"","source":"","meta":"{\"units\":\"\"}","x":1180,"y":240,"wires":[]},{"id":"dd70d38b411aab83","type":"signalk-subscribe","z":"403c1a8f189a5060","name":"Engine Temperature","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.inside.engine.temperature","source":"signalk-node-red","period":"1000","x":110,"y":340,"wires":[["8492a72e6ecb4eed"]]},{"id":"7b84b7fbe2f93939","type":"change","z":"403c1a8f189a5060","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"Switch.Set\",\"parameters\":{\"id\":0,\"on\":false}}","tot":"json"},{"t":"set","p":"charging","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":260,"wires":[["743162f8b8084a59"]]},{"id":"8a05181f85e3c2b5","type":"change","z":"403c1a8f189a5060","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"electrical.batteries.hotel.shelly","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":200,"wires":[["6d3f281acddae3dc"]]},{"id":"c7fafc98811b2bde","type":"change","z":"403c1a8f189a5060","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"electrical.batteries.hotel.shelly","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":280,"wires":[["6d3f281acddae3dc"]]},{"id":"8492a72e6ecb4eed","type":"function","z":"403c1a8f189a5060","name":"Temperature-Check","func":"let engine_temp = msg.payload - 273.15 //Convert to °C\nlet hot_enough = 40 //Enginge temperature threshold to start charging\nlet shelly_state = flow.get(\"charging\") ?? true\nlet automatic = flow.get(\"automatic\") ?? true\nlet out1 = null\nlet out2 = null\n\nif (engine_temp >= hot_enough && shelly_state === false && automatic === true) {\n    out1 = msg\n}\n\nif (engine_temp < hot_enough && shelly_state === true && automatic === true) {\n    out2 = msg\n}\n\nreturn [out1, out2]","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":340,"wires":[["ddcf428c02fdfb97"],["7b84b7fbe2f93939"]]},{"id":"2c9579c063cce554","type":"switch","z":"403c1a8f189a5060","name":"","property":"payload.switch0.output","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":220,"wires":[["8a05181f85e3c2b5"],["c7fafc98811b2bde"]]},{"id":"50434ae8479a6b4b","type":"inject","z":"403c1a8f189a5060","name":"INIT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"true","payloadType":"bool","x":270,"y":200,"wires":[["63a1ba50e1aa1494","ddcf428c02fdfb97"]]},{"id":"aac6af684ae6bc15","type":"signalk-put-handler","z":"403c1a8f189a5060","name":"charging","path":"electrical.batteries.hotel.shelly","x":140,"y":280,"wires":[["f11ae0078057ab30"]]},{"id":"f11ae0078057ab30","type":"switch","z":"403c1a8f189a5060","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":280,"wires":[["ddcf428c02fdfb97"],["7b84b7fbe2f93939"]]},{"id":"81e58d892d1ffce5","type":"signalk-put-handler","z":"403c1a8f189a5060","name":"automatic","path":"electrical.batteries.hotel.automatic","x":140,"y":120,"wires":[["6565537d42261d27"]]},{"id":"6565537d42261d27","type":"switch","z":"403c1a8f189a5060","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":120,"wires":[["63a1ba50e1aa1494"],["f41b0c58152080ad"]]},{"id":"63a1ba50e1aa1494","type":"change","z":"403c1a8f189a5060","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"electrical.batteries.hotel.automatic","tot":"str"},{"t":"set","p":"automatic","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":100,"wires":[["9789c018514ba7e8"]]},{"id":"f41b0c58152080ad","type":"change","z":"403c1a8f189a5060","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"electrical.batteries.hotel.automatic","tot":"str"},{"t":"set","p":"automatic","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":140,"wires":[["9789c018514ba7e8"]]},{"id":"9789c018514ba7e8","type":"signalk-send-pathvalue","z":"403c1a8f189a5060","name":"signal K []","path":"","source":"","meta":"{\"units\":\"\"}","x":680,"y":120,"wires":[]},{"id":"ddcf428c02fdfb97","type":"change","z":"403c1a8f189a5060","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"Switch.Set\",\"parameters\":{\"id\":0,\"on\":true}}","tot":"json"},{"t":"set","p":"charging","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":200,"wires":[["743162f8b8084a59"]]}]