2025_10_18_anchor_alarm.json
[{"id":"202a3d8f553181e7","type":"tab","label":"Anchor-Alarm","disabled":false,"info":"","env":[]},{"id":"06dbb229ba10af5b","type":"worldmap in","z":"202a3d8f553181e7","name":"client connect","path":"/worldmap","events":"connect","x":530,"y":880,"wires":[["2f5a0e935a58159e"]]},{"id":"5f2fea9c0646d911","type":"function","z":"202a3d8f553181e7","name":"Baue Basis","func":"let position = flow.get(\"position\") ?? { latitude: 53.96171438582929, longitude: 10.896652795167276 };\n\nlet command = {\n    command: {\n        button: [\n            {\n                \"name\": \"Increase Radius\",\n                \"icon\": \"fa-plus\",\n                \"position\": \"topright\"\n            },\n            {\n                \"name\": \"Decrease Radius\",\n                \"icon\": \"fa-minus\",\n                \"position\": \"topright\"\n            },\n            {\n                \"name\": \"Track it\",\n                \"icon\": \"fa-map\",\n                \"position\": \"bottomright\"\n            },\n            {\n                \"name\": \"Delete Track\",\n                \"icon\": \"fa-trash\",\n                \"position\": \"bottomright\"\n            },\n            {\n                \"name\": \"Drop Anchor\",\n                \"icon\": \"fa-anchor\",\n                \"position\": \"bottomright\"\n            },\n            {\n                \"name\": \"South\",\n                \"icon\": \"fa-arrow-down\",\n                \"position\": \"bottomleft\"\n            },\n            {\n                \"name\": \"East\",\n                \"icon\": \"fa-arrow-left\",\n                \"position\": \"bottomleft\"\n            },\n            {\n                \"name\": \"West\",\n                \"icon\": \"fa-arrow-right\",\n                \"position\": \"bottomleft\"\n            },\n            {\n                \"name\": \"North\",\n                \"icon\": \"fa-arrow-up\",\n                \"position\": \"bottomleft\"\n            }\n        ],    \n        contextmenu: \"\",\n        //zoomlock: true,\n        //showmenu: \"hide\",\n        //showlayers: \"hide\",\n        //hiderightclick: true,\n        //panlock: true,\n        lat: position.latitude,\n        lon: position.longitude,\n        //zoomLevels: [8, 10, 12, 14, 15, 16, 17, 18],\n        layer: \"baltic_open-sm\"      \n            \n    }\n};\n\nmsg.payload = command\n\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":880,"wires":[["bd7f754dd73e390d"]]},{"id":"1c64c74a97f52d28","type":"signalk-subscribe","z":"202a3d8f553181e7","name":"Position","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.position2","source":"signalk-node-red","period":"3000","x":140,"y":1140,"wires":[["54d155fd32266f99","1d951d40c2acb24b"]]},{"id":"0aaa8e233401c54f","type":"signalk-send-pathvalue","z":"202a3d8f553181e7","name":"signal K [m]","path":"","source":"","meta":"{\"units\":\"m\"}","x":1210,"y":1140,"wires":[]},{"id":"87d998908b009d50","type":"switch","z":"202a3d8f553181e7","name":"Alarm?","property":"payload.radius_z","propertyType":"msg","rules":[{"t":"gt","v":"maxradius","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":1060,"wires":[["db1ecb261030a391"]]},{"id":"6e1aed04c1632a1d","type":"change","z":"202a3d8f553181e7","name":"alert","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\":\"alarm\",\"method\":[\"sound\",\"visual\"],\"message\":\"Anchor radius exceeded\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"notifications.navigation.anchor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1060,"wires":[["0aaa8e233401c54f"]]},{"id":"30dbcf5dfb2a3f6c","type":"function","z":"202a3d8f553181e7","name":"Track, Icon, Radius","func":"const toRad = deg => deg * Math.PI / 180;\nconst R = 6371000; // Erdradius in Metern;\n\n//Position speichern\nflow.set(\"position\", msg.payload)\n\nlet lat = msg.payload.latitude\nlet lon = msg.payload.longitude\nlet drop = flow.get(\"drop\")\nlet radius_m = flow.get(\"maxradius\") ?? 0\nlet anchor = flow.get(\"anchor\") ?? {}\nlet alarm_count_reset = flow.get(\"alarm_count_reset\") ?? 0\nlet alarm_count = flow.get(\"alarm_count\") ?? 0\nlet lat_a = anchor.latitude ?? 0\nlet lon_a = anchor.longitude ?? 0\nlet heading = flow.get(\"heading\") ?? 0\nlet heading_grad = heading * (180/Math.PI)\n\n\n//Alarm-Validation Counter\n//Reset-Counter erhöhen\nalarm_count_reset = alarm_count_reset + 1\nflow.set(\"alarm_count_reset\", alarm_count_reset)\n//wenn erreicht, Reset Counter zurück setzen\n//ebenso Alarm-Counter zurück setzen\nif (alarm_count_reset > 6) {\n    alarm_count_reset = 0\n    alarm_count = 0\n    flow.set(\"alarm_count\",alarm_count)\n    flow.set(\"alarm_count_reset\",alarm_count_reset)\n    } \n\n//aktuellen Radius berechnen\nconst dLat = toRad(lat_a - lat);\nconst dLon = toRad(lon_a - lon);\n\nconst a = Math.sin(dLat / 2) ** 2 +\n          Math.cos(toRad(lat)) * Math.cos(toRad(lat_a)) *\n          Math.sin(dLon / 2) ** 2;\n\nconst c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n\nlet radius_z = R * c; // Entfernung in Metern\nradius_z = Math.round(radius_z*10)/10; //auf eine Dezimalstelle runden\nflow.set(\"radius\", radius_z);\n\n//Radius Label als String setzen, falls Anker oben, Text setzen\nlet radius_label = String(radius_z);\nif (drop === false) {radius_label = \"Anchor raised\"};\n\n// Nachricht 3: Radius\nlet radius_message = {\n    payload: {\n        radius_z\n    }\n};\n\n// Nachricht 1: Trackpunkt (geht an worldmap-tracks)\nlet track = {\n    payload: {\n        name: \"Track\",\n        lat: lat,\n        lon: lon,\n        layer: \"track\"       \n    }\n};\n\n//Objekt für RAISE\n//Radius max als String\nlet radius_m_label = String(radius_m);\n\nlet geoData_raise = {\n    payload: {\n        name: \"Boot\",\n        lat: lat,\n        lon: lon,\n        icon: \"ship\",\n        iconColor: \"blue\",\n        layer: \"boot\",\n        label: radius_label,\n        heading: heading_grad,\n        command: {\n            lat: lat,\n            lon: lon,\n            zoom: 14,\n            map: {\n                \"delete\": [\n                \"alarm\",\n                \"track\"\n            ]\n            }\n        }\n    }\n};\n\n\nlet geoData_drop = {\n    payload: [\n    //Ankerkreis\n    {\n        \"name\": \"Ankerkreis\",\n        \"layer\": \"alarm\",\n        \"type\": \"circle\",\n        \"lat\": lat_a,\n        \"lon\": lon_a,\n        \"radius\": radius_m,\n        \"color\": \"#ff0000\",\n        \"fillColor\": \"#00ff00\", \n        \"fillOpacity\": 0.1,\n        \"fit\": true,\n        \"clickable\": false,\n        \"weight\": 5\n    },\n    //Anker Icon\n    {\n        \"name\": \"Anker\",\n        \"lat\": lat_a,\n        \"lon\": lon_a,\n        \"icon\": \"anchor\",\n        \"layer\": \"alarm\",\n        \"iconColor\": \"black\",\n        \"clickable\": false,        \n        \"label\": radius_m_label\n    },\n    //Boot Icon\n    {\n        \"name\": \"Boot\",\n        \"lat\": lat,\n        \"lon\": lon,\n        \"icon\": \"ship\",\n        \"iconColor\": \"blue\",\n        \"heading\": heading_grad,\n        \"layer\": \"boot\",\n        \"label\": radius_label\n    }\n]};\n\n\n// Ausgänge für Track und Objekt nach Ankerstatus definieren\nif (drop === true) { return [track, geoData_drop, radius_message] }\nif (drop === false) { return [track, geoData_raise, radius_message] }","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1000,"wires":[["072f6907ba4665c9"],["bd7f754dd73e390d"],["11b276fafb3c89db"]]},{"id":"1d34884a3355cc9e","type":"worldmap-tracks","z":"202a3d8f553181e7","name":"","depth":"250","layer":"single","smooth":true,"x":930,"y":960,"wires":[["bd7f754dd73e390d"]]},{"id":"bd7f754dd73e390d","type":"worldmap","z":"202a3d8f553181e7","name":"","lat":"53.95","lon":"10.87","zoom":"14","layer":"Custom","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"true","zoomlock":"true","hiderightclick":"false","coords":"deg","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"","maplist":"","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1220,"y":1000,"wires":[]},{"id":"3bc0e92780814cc3","type":"signalk-put-handler","z":"202a3d8f553181e7","name":"Drop Anchor","path":"navigation.anchor.drop","x":150,"y":120,"wires":[["e87aef7a9cae8cbb"]]},{"id":"e87aef7a9cae8cbb","type":"switch","z":"202a3d8f553181e7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":120,"wires":[["cb14437b58c352c2","b51eaa5d681f3bec"],["cb988c1faeea9f80","1045caed748422bc"]]},{"id":"cb14437b58c352c2","type":"change","z":"202a3d8f553181e7","name":"DROP 1","rules":[{"t":"set","p":"anchor","pt":"flow","to":"position","tot":"flow"},{"t":"set","p":"drop","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"{\"state\":\"normal\",\"method\":[],\"message\":\"Anchor is fine\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"notifications.navigation.anchor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":80,"wires":[["01144de240eec435","7a536bf503220e55"]]},{"id":"01144de240eec435","type":"signalk-send-pathvalue","z":"202a3d8f553181e7","name":"signal K []","path":"","source":"","meta":"{\"units\":\"\"}","x":900,"y":120,"wires":[]},{"id":"cb988c1faeea9f80","type":"change","z":"202a3d8f553181e7","name":"RAISE 1","rules":[{"t":"set","p":"drop","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"{\"state\":\"normal\",\"method\":[],\"message\":\"Anchor is raised\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"notifications.navigation.anchor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["01144de240eec435","7a536bf503220e55"]]},{"id":"8061f6b3afbc6343","type":"switch","z":"202a3d8f553181e7","name":"DROP?","property":"drop","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":1140,"wires":[["f0a1e2ec452cc79e"]]},{"id":"54d155fd32266f99","type":"switch","z":"202a3d8f553181e7","name":"Not Null","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"payload.longitude != null and payload.latitude != null","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1140,"wires":[["7d7d353ca9219378"]]},{"id":"7d7d353ca9219378","type":"trigger","z":"202a3d8f553181e7","name":"Watchdog","op1":"","op2":"{\"state\":\"alarm\",\"method\":[\"sound\",\"visual\"],\"message\":\"Position lost\"}","op1type":"nul","op2type":"json","duration":"60","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":530,"y":1140,"wires":[["8061f6b3afbc6343"]]},{"id":"f0a1e2ec452cc79e","type":"change","z":"202a3d8f553181e7","name":"alert","rules":[{"t":"set","p":"topic","pt":"msg","to":"notifications.navigation.anchor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1140,"wires":[["0aaa8e233401c54f"]]},{"id":"0e8df31867e38094","type":"worldmap in","z":"202a3d8f553181e7","name":"","path":"/worldmap","events":"other","x":140,"y":480,"wires":[["c6768606e2375e6c"]]},{"id":"c6768606e2375e6c","type":"switch","z":"202a3d8f553181e7","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Drop Anchor","vt":"str"},{"t":"eq","v":"North","vt":"str"},{"t":"eq","v":"West","vt":"str"},{"t":"eq","v":"East","vt":"str"},{"t":"eq","v":"South","vt":"str"},{"t":"eq","v":"Increase Radius","vt":"str"},{"t":"eq","v":"Decrease Radius","vt":"str"},{"t":"eq","v":"Delete Track","vt":"str"},{"t":"eq","v":"Track it","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":330,"y":480,"wires":[["1533baaeb0446876"],["44b2bfeb70cbca28"],["ab4fa9e05dbd2e9a"],["c3aec321f3ed7326"],["faacfa791d0ede93"],["2dec552f1e273576"],["14b82420e49e76fd"],["f595f99ab40d07fe"],["644a3cf14d26cabf"]]},{"id":"1533baaeb0446876","type":"switch","z":"202a3d8f553181e7","name":"","property":"drop","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":420,"wires":[["cb14437b58c352c2","b51eaa5d681f3bec"],["cb988c1faeea9f80","1045caed748422bc"]]},{"id":"44b2bfeb70cbca28","type":"function","z":"202a3d8f553181e7","name":"North","func":"let anchor = flow.get(\"anchor\");\n\nanchor.latitude += (1 / 111320);\nflow.set(\"anchor\", anchor);\n\nmsg.topic = \"navigation.anchor.position\"\nmsg.payload = anchor\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":460,"wires":[["c6c6513fd3ca6ad1"]]},{"id":"ab4fa9e05dbd2e9a","type":"function","z":"202a3d8f553181e7","name":"East","func":"let anchor = flow.get(\"anchor\");\n\n// Breitengrad in Radiant umrechnen\nlet latRad = anchor.latitude * (Math.PI / 180);\n\n// Berechnung der Längenverschiebung in Grad\nlet deltaLon = 1 / (111320 * Math.cos(latRad));\n\n// 1 Meter nach Osten → Longitude wird größer\nanchor.longitude += deltaLon;\n\nflow.set(\"anchor\", anchor);\n\nmsg.topic = \"navigation.anchor.position\"\nmsg.payload = anchor\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":500,"wires":[["c6c6513fd3ca6ad1"]]},{"id":"c3aec321f3ed7326","type":"function","z":"202a3d8f553181e7","name":"West","func":"let anchor = flow.get(\"anchor\");\n\n// Breitengrad in Radiant umrechnen\nlet latRad = anchor.latitude * (Math.PI / 180);\n\n// Berechnung der Längenverschiebung in Grad\nlet deltaLon = 1 / (111320 * Math.cos(latRad));\n\n// 1 Meter nach Westen → Longitude wird kleiner\nanchor.longitude -= deltaLon;\n\nflow.set(\"anchor\", anchor);\n\nmsg.topic = \"navigation.anchor.position\"\nmsg.payload = anchor\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":540,"wires":[["c6c6513fd3ca6ad1"]]},{"id":"faacfa791d0ede93","type":"function","z":"202a3d8f553181e7","name":"South","func":"let anchor = flow.get(\"anchor\");\n\nanchor.latitude -= (1 / 111320);\nflow.set(\"anchor\", anchor);\n\nmsg.topic = \"navigation.anchor.position\"\nmsg.payload = anchor\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":580,"wires":[["c6c6513fd3ca6ad1"]]},{"id":"2dec552f1e273576","type":"function","z":"202a3d8f553181e7","name":"MaxRadius + X","func":"let maxradius = flow.get(\"maxradius\");\n\nmaxradius += 1;\nmaxradius = Math.round(maxradius*10)/10; //auf eine Dezimalstelle runden\nflow.set(\"maxradius\", maxradius);\n\nmsg.payload = maxradius;\nmsg.topic = \"navigation.anchor.maxRadius\"\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":620,"wires":[["22805894b9f5a12f","c6c6513fd3ca6ad1"]]},{"id":"14b82420e49e76fd","type":"function","z":"202a3d8f553181e7","name":"MaxRadius - X","func":"let maxradius = flow.get(\"maxradius\");\n\nmaxradius -= 1;\nmaxradius = Math.round(maxradius * 10) / 10; //auf eine Dezimalstelle runden\nflow.set(\"maxradius\", maxradius);\n\nmsg.payload = maxradius;\nmsg.topic = \"navigation.anchor.maxRadius\"\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":660,"wires":[["22805894b9f5a12f","c6c6513fd3ca6ad1"]]},{"id":"0f477fd68c2013a9","type":"signalk-put-handler","z":"202a3d8f553181e7","name":"MaxRadius","path":"navigation.anchor.maxRadius","x":760,"y":720,"wires":[["6d26132fb4f0f974"]]},{"id":"6d26132fb4f0f974","type":"change","z":"202a3d8f553181e7","name":"MaxRadius","rules":[{"t":"set","p":"maxradius","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"navigation.anchor.maxRadius","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":720,"wires":[["22805894b9f5a12f"]]},{"id":"22805894b9f5a12f","type":"signalk-send-pathvalue","z":"202a3d8f553181e7","name":"signal K [m]","path":"","source":"","meta":"{\"units\":\"m\"}","x":1190,"y":640,"wires":[]},{"id":"712977b4facad43b","type":"signalk-send-pathvalue","z":"202a3d8f553181e7","name":"signal K [no Unit]","path":"","source":"","meta":"{\"units\":\"\"}","x":730,"y":1340,"wires":[]},{"id":"a12109bcb66aa7fc","type":"change","z":"202a3d8f553181e7","name":"DROP","rules":[{"t":"set","p":"topic","pt":"msg","to":"navigation.anchor.drop","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"drop","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1320,"wires":[["712977b4facad43b"]]},{"id":"ea6e93365d8b5695","type":"inject","z":"202a3d8f553181e7","name":"dummy","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1340,"wires":[["a12109bcb66aa7fc","1d905c6458121f90","efe8f10be4989de1"]]},{"id":"1d905c6458121f90","type":"change","z":"202a3d8f553181e7","name":"MaxRadius","rules":[{"t":"set","p":"topic","pt":"msg","to":"navigation.anchor.maxRadius","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"35","tot":"num"},{"t":"set","p":"maxradius","pt":"flow","to":"35","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1360,"wires":[["712977b4facad43b"]]},{"id":"2f5a0e935a58159e","type":"delay","z":"202a3d8f553181e7","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":710,"y":880,"wires":[["5f2fea9c0646d911"]]},{"id":"11b276fafb3c89db","type":"switch","z":"202a3d8f553181e7","name":"DROP?","property":"drop","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1060,"wires":[["87d998908b009d50"]]},{"id":"f595f99ab40d07fe","type":"function","z":"202a3d8f553181e7","name":"Clear Layer","func":"// ClearLayer track\nmsg = {\n    payload: {\n        command: {\n            clearlayer: \"track\"\n            }\n        }\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":700,"wires":[["1d34884a3355cc9e"]]},{"id":"f469f2bea06a92ad","type":"function","z":"202a3d8f553181e7","name":"Kreis neu zeichnen","func":"let drop = flow.get(\"drop\")\nlet radius_m = flow.get(\"maxradius\") ?? 0\nlet anchor = flow.get(\"anchor\") ?? {}\nlet lat_a = anchor.latitude ?? 0\nlet lon_a = anchor.longitude ?? 0\n\n//Radius max als String\nlet radius_m_label = String(radius_m);\n\nlet geoData_drop = {\n    payload: [\n    //Ankerkreis\n    {\n        \"name\": \"Ankerkreis\",\n        \"layer\": \"alarm\",\n        \"type\": \"circle\",\n        \"lat\": lat_a,\n        \"lon\": lon_a,\n        \"radius\": radius_m,\n        \"color\": \"#ff0000\",\n        \"fillColor\": \"#00ff00\",\n        \"fillOpacity\": 0.1,\n        \"fit\": true,\n        \"clickable\": false,\n        \"weight\": 5\n    },\n    //Anker Icon\n    {\n        \"name\": \"Anker\",\n        \"lat\": lat_a,\n        \"lon\": lon_a,\n        \"icon\": \"anchor\",\n        \"layer\": \"alarm\",\n        \"iconColor\": \"black\",\n        \"clickable\": false,        \n        \"label\": radius_m_label\n    }\n]};\n\n\nreturn geoData_drop\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":520,"wires":[["bd7f754dd73e390d"]]},{"id":"c6c6513fd3ca6ad1","type":"switch","z":"202a3d8f553181e7","name":"DROP?","property":"drop","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":520,"wires":[["f469f2bea06a92ad","96e1126586408026"]]},{"id":"b51eaa5d681f3bec","type":"change","z":"202a3d8f553181e7","name":"DROP 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"navigation.anchor.drop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":40,"wires":[["01144de240eec435"]]},{"id":"1045caed748422bc","type":"change","z":"202a3d8f553181e7","name":"RAISE 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"navigation.anchor.drop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":220,"wires":[["01144de240eec435"]]},{"id":"7a536bf503220e55","type":"change","z":"202a3d8f553181e7","name":"SAVE","rules":[{"t":"set","p":"payload.anchor","pt":"msg","to":"anchor","tot":"flow"},{"t":"set","p":"payload.maxradius","pt":"msg","to":"maxradius","tot":"flow"},{"t":"set","p":"payload.drop","pt":"msg","to":"drop","tot":"flow"},{"t":"delete","p":"payload.message","pt":"msg"},{"t":"delete","p":"payload.method","pt":"msg"},{"t":"delete","p":"payload.state","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":200,"wires":[["961765b915c406e9"]]},{"id":"961765b915c406e9","type":"file","z":"202a3d8f553181e7","name":"write","filename":"/home/pi/.signalk/anchor.json","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1050,"y":200,"wires":[[]]},{"id":"cd37747a8a58b203","type":"file in","z":"202a3d8f553181e7","name":"read","filename":"/home/pi/.signalk/anchor.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":390,"y":1460,"wires":[["34b29d8a1849a9f5"]]},{"id":"34b29d8a1849a9f5","type":"json","z":"202a3d8f553181e7","name":"","property":"payload","action":"","pretty":false,"x":510,"y":1460,"wires":[["514c385d713e7525"]]},{"id":"514c385d713e7525","type":"switch","z":"202a3d8f553181e7","name":"","property":"payload.drop","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1460,"wires":[["a1581391147798ee","91c9a34bc5e24eb1"]]},{"id":"a1581391147798ee","type":"change","z":"202a3d8f553181e7","name":"anchor","rules":[{"t":"set","p":"drop","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"anchor","pt":"flow","to":"payload.anchor","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"navigation.anchor.drop","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1440,"wires":[["712977b4facad43b"]]},{"id":"efe8f10be4989de1","type":"delay","z":"202a3d8f553181e7","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":270,"y":1460,"wires":[["cd37747a8a58b203"]]},{"id":"96e1126586408026","type":"trigger","z":"202a3d8f553181e7","name":"trigger","op1":"","op2":"{\"anchor\":{},\"drop\":true,\"maxradius\":0}","op1type":"nul","op2type":"json","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":870,"y":380,"wires":[["7a536bf503220e55"]]},{"id":"91c9a34bc5e24eb1","type":"change","z":"202a3d8f553181e7","name":"MaxRadius","rules":[{"t":"set","p":"topic","pt":"msg","to":"navigation.anchor.maxRadius","tot":"str"},{"t":"set","p":"maxradius","pt":"flow","to":"payload.maxradius","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.maxradius","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1480,"wires":[["712977b4facad43b"]]},{"id":"644a3cf14d26cabf","type":"function","z":"202a3d8f553181e7","name":"Set Tracking","func":"// Turn tracking on/off\nlet tracking = flow.get(\"tracking\") ?? false\n\nif (tracking === false) {tracking=true}\nelse {tracking=false}\n\nflow.set(\"tracking\", tracking)\n\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":740,"wires":[[]]},{"id":"072f6907ba4665c9","type":"function","z":"202a3d8f553181e7","name":"drop/tracking?","func":"if (flow.get(\"tracking\") === true || flow.get(\"drop\") === true ){\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":960,"wires":[["3732c1dc886a1986"]]},{"id":"8d6a0ad6a0fe01ec","type":"signalk-subscribe","z":"202a3d8f553181e7","name":"Heading","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.headingTrue2","source":"signalk-node-red","period":"3000","x":140,"y":1200,"wires":[["3049f3efe36e638d"]]},{"id":"bbb2c7c9675e6bcb","type":"change","z":"202a3d8f553181e7","name":"Store Heading","rules":[{"t":"set","p":"heading","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1200,"wires":[[]]},{"id":"1d951d40c2acb24b","type":"function","z":"202a3d8f553181e7","name":"heading correction","func":"let heading = flow.get(\"heading\") ?? null; // in RAD\nlet offset_length  = 9; // Versatz in Meter\nlet offset_width = -0.5 // Versatz in Meter\n\n// Erdradius in Meter\nconst R = 6378137;\n\nif (heading != null){\n    // // Drehe lokalen Versatz in geografische Richtung\n    let dy = offset_length * Math.cos(heading) - offset_width * Math.sin(heading);\n    let dx = offset_length * Math.sin(heading) + offset_width * Math.cos(heading);\n\n    // Berechne Versatz in Breiten- und Längengrad\n    let dLat = dy / R;\n    let dLon = dx / (R * Math.cos(msg.payload.latitude * Math.PI / 180));\n\n    // Umrechnung in Grad\n    dLat = dLat * (180 / Math.PI);\n    dLon = dLon * (180 / Math.PI);\n\n    // Neue korrigierte Position\n    msg.payload.latitude = msg.payload.latitude + dLat;\n    msg.payload.longitude = msg.payload.longitude + dLon;\n}\n\n// Ausgabe\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":1000,"wires":[["30dbcf5dfb2a3f6c"]]},{"id":"3732c1dc886a1986","type":"delay","z":"202a3d8f553181e7","name":"Reduce","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":760,"y":960,"wires":[["1d34884a3355cc9e"]]},{"id":"db1ecb261030a391","type":"function","z":"202a3d8f553181e7","name":"alarm_count","func":"let alarm_count = flow.get(\"alarm_count\") ?? 0\n\n//bei Alarm erhöhen\nalarm_count = alarm_count + 1\nflow.set(\"alarm_count\",alarm_count)\n\n//wenn Anzahl erreicht, Alarm auslösen und Zähler auf 0\nif (alarm_count > 2) {\n    alarm_count = 0\n    flow.set(\"alarm_count\", alarm_count)\n    return msg\n    }\n//ansonsten keine Nachricht senden\nelse {return null}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":1060,"wires":[["6e1aed04c1632a1d"]]},{"id":"3049f3efe36e638d","type":"rbe","z":"202a3d8f553181e7","name":"","func":"narrowband","gap":"0.9","start":"","inout":"in","septopics":false,"property":"payload","topi":"topic","x":330,"y":1200,"wires":[["bbb2c7c9675e6bcb"]]},{"id":"2d2e64bbb824e760","type":"comment","z":"202a3d8f553181e7","name":"IMPORTANT","info":"Please note!\nAny use of my source code is own your own risk. \nI made this system for my boat and me and I am happy to share it!\nBut you are responsible for what you do with it!","x":210,"y":260,"wires":[]}]